@import '../reset.css';
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666666;
  text-align: left;
  background-color: #fff;
}

a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 36px;
  line-height: 1.44;
  color: #000000;
}

@media (max-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 26px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1650px;
}

.header {
  padding: 20px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar__icon {
  position: relative;
  display: block;
  padding: 0 10px;
}

.navbar__icon svg {
  width: 25px;
  height: 25px;
}

.navbar .number {
  position: absolute;
  top: -10px;
  right: 2px;
  font-size: 12px;
  background-color: #da3f3f;
  height: 22px;
  width: 22px;
  color: #fff;
  line-height: 22px;
  border-radius: 50%;
  text-align: center;
}
